<!DOCTYPE html>
<html>
<head>
    <title>WAM Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>WAM Predictor</h1>
        <nav>
            <a href="{{ url_for('index') }}" class="nav-btn">Home</a>
            <a href="{{ url_for('marks') }}" class="nav-btn">Enter Marks</a>
            <a href="{{ url_for('overall') }}" class="nav-btn">Predict from Overall</a>
        </nav>
        <hr>
        {% block content %}{% endblock %}
    </div>
</body>
</html>