{% extends "base.html" %}
{% block content %}
<h2>Predict WAM from Overall</h2>

<form method="POST">
  <b>Set current overall WAM and units of credit:</b><br>
  WAM: <input name="current_wam" type="number" step="any" value="{{current_wam or ''}}">
  Units of Credit: <input name="current_uoc" type="number" value="{{current_uoc or ''}}">
  <button type="submit" name="set_current">Set</button>
  {% if set_current_message %}<span style="color:green;">{{ set_current_message }}</span>{% endif %}
  {% if set_current_error %}<span style="color:red;">{{ set_current_error }}</span>{% endif %}
</form>
{% if current_wam is not none and current_uoc is not none %}
  <p style="color:blue;">Current overall WAM: {{ current_wam }} | UOC: {{ current_uoc }}</p>
{% endif %}

<form method="POST" style="margin-top:16px;">
  <b>Predict WAM (with just your overall WAM and UOC):</b><br>
  Mark: <input name="mark" type="number" required>
  Credits: <input name="credit" type="number" required>
  <button type="submit" name="predict_overall">Predict from Overall</button>
  {% if predict_overall_error %}<span style="color:red;">{{ predict_overall_error }}</span>{% endif %}
  {% if predicted_overall_wam is not none %}<span style="color:green;">Predicted WAM: {{ predicted_overall_wam }}</span>{% endif %}
</form>
{% endblock %}